export HUBOT_TRAQ_ACCESS_TOKEN=""
export PROMPT_URL=""
export OPENAI_ORGANIZATION=""
export OPENAI_API_KEY=""
export JOMEI=false

export MARIADB_USERNAME=""
export MARIADB_PASSWORD=""
export MARIADB_HOSTNAME=""
export MARIADB_PORT=""
export MARIADB_DATABASE=""
export DATABASE_URL=""
