{
  "HUBOT_TRAQ_NAME": "",
  "HUBOT_TRAQ_VERIFY_TOKEN": "",
  "HUBOT_TRAQ_ACCESS_TOKEN": "",
  "HUBOT_TRAQ_BOT_ID": "",
  "HUBOT_TRAQ_PATH": "",
  "PROMPT_URL": "",
  "OPENAI_ORGANIZATION": "",
  "OPENAI_API_KEY": "",
  "JOMEI": false,
  "MARIADB_USERNAME": "",
  "MARIADB_PASSWORD": "",
  "MARIADB_HOSTNAME": "",
  "MARIADB_PORT": "",
  "MARIADB_DATABASE": "",
  "DATABASE_URL": ""
}
